.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
}

.form_control label {
    margin-bottom: 2px;
    font-weight: bold;
}

.form_control input {
    padding: 2px;
    border-radius: 1px;
    border: transparent;
}

.form_control input::placeholder {
    color: #7b7b7b;
}